# Virtual environments
EEGTest1/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Visual Studio / VS
*.pyproj.user
.vs/

# VSCode
.vscode/

# TorchEEG cache/output (optional)
deap/

# Datasets (recommended: don't commit DEAP data)
data_preprocessed_python/